ul {
  list-style-type: none;
}
.btninitial{
  width:150px;
  height: 40px;
  background-color: white;
  border-color:#333366 ;
  border-width: 3px;
   border-radius: 10px;
   margin:2%;
}
.btninitial:hover{
  background-color:#961919;

}

.sousbtn{
  width:140px;

  margin-left:10px;
color:antiquewhite
}
.sousbutton{
  background-color: #333366; color: antiquewhite;border-radius: 15px;
}
.sousbutton:hover{
  background-color:#333366;
}

.container{
  margin:30%;
}
.ajoutDossier{
  margin: auto;
}

.btn-blue
{
background-color: #333366;
color: white;
}
.input-blue
{
background-color: #333366;
color: white;
}
.input-dossier{
  width:150px;
      height: 40px;
      background-color: white;
      border-color:#333366 ;
      border-width: 3px;
      border-radius: 10px;margin:2%;
}
.addSousDossier
{
  display: flex;
  flex-direction: row-reverse;
}
