<div class="container">
  <ng-template #recursiveList let-dossiers>
    <div *ngFor="let dossier of dossiers">
      <div style="display: flex">
        <!--renommer-->
        <a *ngIf="estRenomme" (click)="dossier.rename = !dossier.rename">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-pencil-square text-info"
            viewBox="0 0 16 16"
          >
            <path
              d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
            />
            <path
              fill-rule="evenodd"
              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
            />
          </svg>
        </a>
        <!------------------->

        <!--supprimmer-->
        <a *ngIf="estSupprime" (click)="supprimer(dossier.Dossier_Id)">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-trash"
            viewBox="0 0 16 16"
            color="red"
          >
            <path
              d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
            />
            <path
              fill-rule="evenodd"
              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
            />
          </svg>
        </a>
        <!------------------->
        <div>
          <div class="addSousDossier">

          <button
            *ngIf="!dossier.rename || !estRenomme"
            class="btn btninitial mb-3"
            [ngClass]="{ 'btn-blue': dossier.expanded }"
            (click)="
              openDossier(dossier.Dossier_Id, dossiers);

            "
          >
            {{ dossier.Dossier_Name }}
          </button>
          <!--renommer -->
          <input
            *ngIf="dossier.rename && estRenomme"
            type="text"
            class="input-dossier"
            id="dossier-rename"
            value="{{ dossier.Dossier_Name }}"
          />

          <div *ngIf="dossier.children?.length >= 0 && dossier.expanded">
            <a

              (click)="dossier.showInput = true;"
              [hidden]="dossier.showInput"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-bookmark-plus"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"
                />
                <path
                  d="M8 4a.5.5 0 0 1 .5.5V6H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V7H6a.5.5 0 0 1 0-1h1.5V4.5A.5.5 0 0 1 8 4z"
                />
              </svg>
            </a>
            </div>
          </div>
          <div class="mt-2" [hidden]="!dossier.rename || !estRenomme">
            <a
              type="button"
              class="btn btn-success mr-2"
              (click)="updateDossier(dossier)"
            >
              v
            </a>
            <a
              (click)="dossier.rename = false"
              type="button"
              class="btn btn-danger"
              >c</a
            >
          </div>
          <!------------------->

          <!--sous dossier-->
          <div *ngIf="dossier.children?.length > 0 && dossier.expanded">
            <ng-container
              *ngTemplateOutlet="
                recursiveList;
                context: { $implicit: dossier.children }
              "
            ></ng-container>
          </div>
          <!------------------->
        </div>
      </div>
      <!--ajouter sous dossier-->
      <div *ngIf="dossier.children?.length >= 0 && dossier.expanded">
        <div *ngIf="dossier.showInput">
          <input
            type="text"
            class="input-dossier"
            id="dossier-name"
            placeholder="entrer sous dossier"
          />
          <div style="margin-top: 2%">
            <a
              type="button"
              class="btn btn-success mr-2"
              (click)="Add_Sous_Dossier(dossier.Dossier_Id)"
            >
              v
            </a>
            <a
              (click)="dossier.showInput = false"
              [hidden]="!dossier.showInput"
              type="button"
              class="btn btn-danger"
              >c</a
            >
          </div>
        </div>

        <hr style="width:100%;text-align:left;margin-left:0">
      </div>
      <!------------------->
    </div>
  </ng-template>
  <ng-container
    *ngTemplateOutlet="recursiveList; context: { $implicit: dossiers }"
  ></ng-container>

  <br />
  <button
    type="button"
    style="
      width: 150px;
      height: 40px;
      border-width: 3px;
      border-radius: 10px;
      margin: 2%;
    "
    class="btn"
    [ngClass]="{ 'btn-outline-info': !estRenomme, 'btn-info': estRenomme }"
    (click)="estRenomme = !estRenomme"
  >
    Renommer
  </button>
  <br />
  <button
    type="button"
    style="
      width: 150px;
      height: 40px;
      border-width: 3px;
      border-radius: 10px;
      margin: 2%;
    "
    class="btn"
    [ngClass]="{
      'btn-outline-danger': !estSupprime,
      'btn-danger': estSupprime
    }"
    (click)="estSupprime = !estSupprime"
  >
    Supprimer
  </button>
  <!--ajouter dossier-->
  <div class="ajoutDossier">
    <a
      type="button"
      (click)="showInput = true"
      [hidden]="showInput"
      class="btn"
      style="
        background-color: #333366;
        color: white;
        width: 150px;
        height: 40px;
        border-width: 3px;
        border-radius: 10px;
        margin: 2%;
      "
      >+ Nouveau
    </a>
    <input
      *ngIf="showInput"
      type="text"
      class="input-dossier"
      id="dossier"
      placeholder="entrer dossier"
    />
    <div style="margin-top: 2%" *ngIf="showInput">
      <a type="button" class="btn btn-success mr-2" (click)="Add_Dossier()">
        v
      </a>
      <a
        (click)="showInput = false"
        [hidden]="!showInput"
        type="button"
        class="btn btn-danger"
        >c</a
      >
    </div>
  </div>
  <!------------------->
</div>
