.all{
  min-width: 800px;
  width: 100%;
  min-height: 400px;
  height:100% ;
  margin-left:10%;
  margin-top:5%;
   border: 5px solid  #333366;
   border-radius: 30px;
   display: flex;
  flex-wrap: wrap;
}
.container{
  display: flex;
  align-items: center;

}
.rect{
  border-radius: 30px;
  border-width: 3px;
  max-width: 12rem;
  max-height: 15rem;

}
.cardtitle{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 28px 28px 0 0;

}
.crd{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-field{
  min-width:150px;
  min-height: 40px;
  background-color: #333366 ;
  color: white;
  border-width: 3px;
   border-radius: 10px;
}
.buttons{

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  max-height: 112.5px;
}
.title{
  min-width:300px;
  min-height: 40px;
  background-color: #333366;
  color:white;
  border-width: 3px;
  border-radius: 10px;

}
.add{
  min-width: 200px;
  height:8rem;
  display: flex;
  align-items: center;
}
.choix{
  display: flex;
  justify-content: space-between
}

a:hover{
  text-decoration: underline;
}
.body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mdl{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttoncontainer{
  display: flex;
}
.fils{
  display: flex;
  width: 80%;
  justify-content: flex-end;
}

form
{
  display: flex;
  flex-direction: column;

}
.footer {
  text-align: center;
  }

.fieldchoice
{
  display: flex;
}
.btn-choice{
  width:150px;
  height: 40px;
  background-color: white;
  border-color:#333366 ;
  border-width: 3px;
   border-radius: 10px;
   margin-left: 2%;
}
.btn-blue{
background-color: #333366;
color: white;
}
.btn-filelink{
  width:80%;
  height: 40px;
  background-color: white;
  border-color:#333366 ;
  color: black;
  border-width: 3px;
   border-radius: 10px;
}
.btn-attach{
  width: 150px;
  height: 40px;
  border-width: 3px;
  border-radius: 10px;
  margin: 2%;
}

.select-filelink{
  min-width:100px;
    height: 35px;
    background-color: white;
    border-color:#333366 ;
    border-width: 3px;
    border-radius: 5px;
}
